body.oscuro {
    background-color: #000;
}

body.oscuro .navbar-govco,
body.oscuro .he_footer {
    background-color: #333 !important;
}

body.oscuro a {
    color: #fff176;
}

body.oscuro .error {
    color: #ef5350;
}

body.oscuro label,
body.oscuro div,
body.oscuro h2,
body.oscuro h3,
body.oscuro h4,
body.oscuro h5,
body.oscuro h6,
body.oscuro p.lead {
    color: #fff;
}

body.oscuro .modal-header h4 {
    color: #000 !important;
}

body.oscuro .alert-info {
    color: #fff;
    background-color: #000;
}

body.oscuro .alert-info strong {
    color: #fff;  
}

body.oscuro .alert-light {
    background-color: #000;
    border: none;
}

body.oscuro .dropdown-toggle
{
    background-color: #000;
}

body.oscuro .btn-light:not(:disabled):not(.disabled).active, 
body.oscuro .btn-light:not(:disabled):not(.disabled):active, 
body.oscuro .show>.btn-light.dropdown-toggle {
    background-color: #000;
}

body.oscuro .dropdown-toggle .filter-option-inner-inner {
    color: #fff !important;
}

body.oscuro .dropdown-menu {
    background-color: #000;
}

body.oscuro .dropdown-item span{
    color: #fff;
}

body.oscuro .dropdown-item:hover {
    background-color: #111;
}

body.oscuro .form-control {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

body.oscuro .input-group-prepend {
    background-color: #333;
}

body.oscuro .list-group-item {
    background-color: #000;
    border: 1px solid #fff;
}

body.oscuro .list-group-item-action:hover {
    background-color: #111;
}

body.oscuro .list-group-item-action {
    color: #FEFEFE;
}

body.oscuro .btn-middle {
    background-color: #000 !important;
    border: 1px solid #333 !important;
    color: #fff !important;
}

body.oscuro .btn-middle:hover,
body.oscuro .btn-high:hover {
    background-color: #111 !important;
}

body.oscuro .btn-high {
    background-color: #333 !important;
    border: 1px solid #333 !important;
    color: #fff !important;
}

body.oscuro .xdsoft_datepicker table *,
body.oscuro .xdsoft_datepicker div *
{
    color: #000;
}

body.oscuro .dropdown-item:focus, body.oscuro .dropdown-item:hover, body.oscuro .dropdown-item:active {
    background-color: #4d4d4d;
}

body.oscuro .dropdown-item,
body.oscuro .dropdown-item b {
    color: #fff;
}

body.oscuro .dropdown-item.active,
body.oscuro .dropdown-item.active b {
    background-color: #5c5c5c;
    color: #fff;
}

body.oscuro .dropdown-item.active span.text, body.oscuro .dropdown-item:active span.text {
    color: #fff;
}

body.zoom-in p.lead{
    font-size: 1.5rem;
}

body.zoom-in div.alert-info,
body.zoom-in div.col-sm,
body.zoom-in div.col-md-12,
body.zoom-in div.col-md-12 a,
body.zoom-in label {
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) and (max-width: 1200px) {
    #SNSHeader-brand {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        text-align: center !important;
        /* -webkit-box-orient: vertical; */
        /* -webkit-box-direction: normal; */
        -ms-flex-direction: column;
        /* flex-direction: column; */
        background-color: #fff !important;
    }
}